/* CSS Document */
/* CSS Document */
#celek {
  width: 100%;
}

#map_part {
  width: 100%;
  float:right;
  z-index:0;
}

#map {
  position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#popup {
  text-align: center;
  line-height: 1px;
}
#opacity {
  position: absolute; 
  text-align: center;
  right: 3%; bottom: 20%;
  background: white;
       opacity: 0.5;
  width:200px;
  height:100px;
 
   z-index: 5; 
}
.lorem{

text-align: justify;

width: 260px;
font-size: 12pt;
  color: rgb(32,32,32);
  font-family: "Times New Roman", Times, serif;
  


}




  .leaflet-bar a:first-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
   
}

.leaflet-bar a:last-child {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: none;
}


div.leaflet-control-layers-base:before   {
		content: "Base maps";
    font-weight:700;
    padding-left:10px;
		}
    input[type=text] {
    width: 100%;
    padding: 2px 2px;
    margin: 2px 0;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
    background: rgb(229,229,229, .1);
}





}

.leaflet-control-layers {
  box-shadow: none;
  border: none;
  text-align: left;
  font-size: 10pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  width: 200px;
  line-height: 30px;
}

.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: rgba(255, 255, 255, 0.01);
  box-shadow: none;
  border: none;
}

.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid rgba(100, 100, 100, 1);
	margin: 5px -10px 5px -6px;
	}
  
  .myCSSClass {
  background: rgb(221,31,37);
  color: white;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .3);
   border-radius: 12px;
  
}


  
  
  
  
  
  
  
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: 0px solid rgba(0,0,0,0.01);
background-clip